<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buzzi_publish_events>
            <newsletter_subscribe>
                <is_cron>1</is_cron>
                <global_schedule>1</global_schedule>
                <confirmed_only>1</confirmed_only>
            </newsletter_subscribe>
            <newsletter_unsubscribe>
                <is_cron>1</is_cron>
                <global_schedule>1</global_schedule>
            </newsletter_unsubscribe>
        </buzzi_publish_events>
    </default>
</config>
