<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="buzzi_publish_events">
            <group id="newsletter_subscribe">
                <field id="send_all_subscribers" translate="button_label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Buzzi\PublishNewsletterSubscribe\Block\Adminhtml\System\Config\SendAllSubscribers</frontend_model>
                </field>

                <field id="confirmed_only" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Confirmed Only</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="newsletter/subscription/confirm">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
